<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>Document</title> -->
    <%- include("../partials/head.ejs") %> 
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <nav>
            <p>Sort: </p>
            <a href="/cats/new"><button>Add a new Cat</button></a>
        </nav>

        <% for(cat of cats) { %> 
        <div class="card">
            <a href="/cats/<%=cat._id %> ">
                <img src="<%=cat.url %> " alt="a picture of a <%=cat.breed %> ">
                <%= cat.breed %> 
                <%= cat.hairType %> 
                <%= cat.tendencyToShed %> 
                <%= cat.lifeExpectency %> 
            </a>
            
        </div>
        <% } %> 
    </main>
    
</body>
</html>