<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>Document</title> -->
    <%- include("../partials/head.ejs") %> 
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <nav class="nav nav-pills nav-fill">
            <p class="nav-link">Sort: </p>
            <a class="nav-link" href="/cats"><button class="btn btn-secondary">Back</button></a>
            <a class="nav-link" href="/cats/new"><button class="btn btn-secondary">Add a new Cat</button></a>
        </nav>

        <div class="cat-show">
            <div class="left-side">
                <img class="cat-image" src="<%=cat.url %>" alt="a picture of a <%=cat.breed %>">
    
                <section class="personality fontWhite cat-personality">
                    <p class="personality-head">Personality:</p>
                    <p class=""><%=cat.personality %> </p>
                </section>
    
                <section class="cat-show-buttons">
                    <div class="btn-group">
                        <a href="/cats/<%=cat._id %>/edit "><button class="btn btn-primary">Edit</button></a>
                    </div>
        
                    <div class="btn-group">
                        <form action="/cats/<%=cat._id %>?_method=DELETE" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </section>
            </div>
            
            <div class="right-side fontWhite cat-personality">
                <p class="cat-name"><span class="wordFirst">Breed: </span><%=cat.breed %></p>
                <p class="font-1-5"><span class="wordFirst font-40">Hair Type: </span><%=cat.hairType %></p>
                <p class="font-1-5"><span class="wordFirst font-40">Life Expectency: </span><%=cat.lifeExpectency %></p>
                <span class="weight-range">
                    <p class="wordFirst font-40">Weight Range :</p>
                    <p><span class="weight- font-1-5">Male: </span><%=cat.weightRange.male %></p>
                    <p><span class="weight-row font-1-5">Female: </span><%=cat.weightRange.female %></p>
                </span>
                <p class="cat-history"><span class="wordFirst font-40">History: </span><%=cat.history %></p>
            </div>
        </div>
      
        
    </main>
    
</body>
</html>